<section class="container">
  <br />
  <form class="form" (ngSubmit)="gerar()">
    <div class="title">Cadastrar Novo Seriado</div>
    <div class="subtitle">NETFLIX</div>
    <div class="input-container ic2">
      <input class="input" placeholder=" " id="id" type="number" [(ngModel)]="id" name="id"/>
      <div class="cut"></div>
      <label for="id" class="placeholder">#ID</label>
    </div>
    <div class="input-container ic2">
      <input class="input" placeholder=" " id="title" type="text" [(ngModel)]="title" name="title"/>
      <div class="cut"></div>
      <label for="title" class="placeholder">TITLE</label>
    </div>
    <div class="input-container ic2">
      <input class="input" placeholder=" " id="genre" type="text" [(ngModel)]="genre" name="genre"/>
      <div class="cut"></div>
      <label for="genre" class="placeholder">GENRE</label>
    </div>
    <div class="input-container ic2">
      <input class="input" placeholder=" " id="subgenre" type="text" [(ngModel)]="subgenre" name="subgenre"/>
      <div class="cut"></div>
      <label for="subgenre" class="placeholder">SUBGENRE</label>
    </div>
    <div class="input-container ic2">
      <input class="input" placeholder=" " id="premiereYear" type="number" [(ngModel)]="premiereYear" name="premiereYear"/>
      <div class="cut"></div>
      <label for="premiereYear" class="placeholder">PREMIERE YEAR</label>
    </div>
    <div class="input-container ic2">
      <input class="input" placeholder="  " id="imdbRating" type="number" [(ngModel)]="imdbRating" name="imdbRating"/>
      <div class="cut"></div>
      <label for="imdbRating" class="placeholder">IMDB RATING</label>
    </div>

    <div class="botao-wrapper">
      <button class="submit" type="submit">Cadastrar</button>
    </div>
  </form>
  <br />
</section>
