<section class="container">
  <br/>
    <H2 class = "titulo ">Seriados Netflix</H2>
    <table class = "zui-table zui-table-rounded" *ngIf="netflixes.length > 0; else listaVazia">
      <thead>
        <th>#ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Subgenre</th>
        <th>Year</th>
        <th>IMDB Rating</th>
      </thead>
      <tbody>
        <tr *ngFor="let n of netflixes">
          <td>{{n.id}}</td>
          <td>{{n.title}}</td>
          <td>{{n.genre}}</td>
          <td>{{n.subgenre}}</td>
          <td>{{n.premiereYear}}</td>
          <td>{{n.imdbRating}}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #listaVazia>
      <p>&nbsp;</p>
    </ng-template>
</section>
