<section class = "container">
  <H2 class = "titulo">Seriados Netflix</H2>
  <table class = "tabela" *ngIf="netflixes.length > 0; else listaVazia">
  <thead class = "tabela__cabecalho">
    <th class = "tabela__cabecalho__conteudo">#ID</th>
    <th class = "tabela__cabecalho__conteudo">Title</th>
    <th class = "tabela__cabecalho__conteudo">Genre</th>
    <th class = "tabela__cabecalho__conteudo">Subgenre</th>
    <th class = "tabela__cabecalho__conteudo">Year</th>
    <th class = "tabela__cabecalho__conteudo">IMDB Rating</th>
  </thead>
  <tbody>
    <tr class = "tabela__linha" *ngFor="let n of netflixes">
      <td class = tabela__conteudo>{{n.id}}</td>
      <td class = tabela__conteudo>{{n.title}}</td>
      <td class = tabela__conteudo>{{n.genre}}</td>
      <td class = tabela__conteudo>{{n.subgenre}}</td>
      <td class = tabela__conteudo>{{n.premiereYear}}</td>
      <td class = tabela__conteudo>{{n.imdbRating}}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>&nbsp;</p>
</ng-template>
</section>
